<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36536177638-aah8u2jrt8h9s42ees48dormrvnao86g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36536177638-aah8u2jrt8h9s42ees48dormrvnao86g</string>
	<key>API_KEY</key>
	<string>AIzaSyD8cWpcVZPPMSTCJeZtrG-HdTSS9PdEIAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>36536177638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bestcybernetics.nlpower</string>
	<key>PROJECT_ID</key>
	<string>nlpower-ab4d1</string>
	<key>STORAGE_BUCKET</key>
	<string>nlpower-ab4d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36536177638:ios:e4d98e6eb4ed05da9fbc27</string>
</dict>
</plist>